* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/stadium.jpg");
}

.header {
    height: 80px;
}

#main-title {
    float: left;
    width: 100%;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #fbae17;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
}

.matchup-grid {
    background-color: white;
    padding: 10px;
}

.matchup-grid-bottom {
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.dropdown-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
}

#computer-image-grid {
    border-left: 1px solid black;
}

.images {
    width: 126px;
    text-align: center;
    margin: 10px;
}

p {
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
}

#player-name {
    cursor: pointer;
}

#player-image {
    width: 88%;
    text-align: center;
    padding-bottom: 0px;
}

.user-title {
    padding: 10px 0px 0px 0px;
    font-size: 30px;
    line-height: 50px;
    display: block;
    text-transform: uppercase;
}

.computer-title {
    padding: 10px 0px 0px 0px;
    font-size: 30px;
    line-height: 50px;
    display: block;
    text-align: right;
    text-transform: uppercase;
}

#user-budget {
    padding: 10px;
    font-size: 48px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    display: block;
}

#user-points {
    float: right;
    padding: 10px 30px 10px 10px;
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    display: block;
}

#computer-budget {
    padding: 10px;
    font-size: 48px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    text-align: right;
    display: block;
}

#computer-points {
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

#computer-team {
    padding: 10px 20px 10px 10px;
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    text-align: right;
    display: block;
}

#user-team {
    padding: 10px 10px 10px 20px;
    font-size: 28px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

#week-number {
    text-align: center;
    background-color: #fbae17;
    color: white;
}

.position-list {
    background-color: lightgray;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit-button {
    background-color: #fbae17;
    color: white;
    padding: 11px;
    font-size: 16px;
    border: none;
    width: 100%;
}

.button-row {
    padding: 10px;
}

#dropdownMenuLink {
    width: 100%;
    padding: 10px;
}

ul {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    padding: 20px;
}
  
li {
    padding: 0px 0px 10px 20px;
    color: white;
}
  
li a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
  
a:hover {
    color: grey;
}

.nav-item {
    padding-right: 0px;
    float: left;
    color: white;
} 